---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>I am currently a post-doc at Zhejiang Lab studying astrochemistry.</p>
        
</BaseLayout>

