---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>还没想起来主页该写些什么</h1>

    <p>......</p>
</BaseLayout>
