---
const today = new Date();
---
<footer>
	&copy; {today.getFullYear()} Long-Fei Chen. All rights reserved. Powered by <a href="https://astro.build/">Astro</a>.
</footer>

<style>
    footer {
        padding: 25px;
        text-align: center;
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
